{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">

  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" style="color:black">  </a>
      </li>
  </ul> 
  </dav>  


  <div class="card-deck">
    <ul class="nav justify-content-center">
      <a class="navbar-brand" >
        <a class="nav-link" style="color:black"></a>
        <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
        <a class="nav-link" style="color:black"></a> 
        <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a> 
        <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>
        <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a> 
        <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>
        <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link"  style="color:black"></a>
        <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
        <a class="nav-link" style="color:black"></a> 
        <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link"  style="color:black"></a>  
        <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        
      </a>
    </ul>
  </div>
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" style="color:black">  </a>
      </li>
  </ul> 
  </dav> 
</div>
<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" style="color:black">  </a>
    </li>
</ul> 
</dav>  

  <div class="card">
    <img src="static/image/ab.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      
      <h5 class="card-title">Italian cuisine</h5>
      <p class="card-text">Is a Mediterranean cuisine
         consisting of the ingredients, recipes and cooking techniques developed across 
         the Italian Peninsula since the antiquity, and later spread around the world 
         together with waves of Italian diaspora.Significant changes occurred with the 
         colonization of the Americas and the introduction of potatoes, tomatoes, capsicums, maize 
         and sugar beet - this last introduced in quantity in the 18th century.Italian cuisine is known 
         for its regional diversity, especially between the north and the south of the Italian peninsula.
         t offers an abundance of taste, and is one of the most popular and copied in the world.
         It influenced several cuisines around the world, chiefly that of the United States.</p>
      <p class="card-text"><small class="text-muted">Last updated on this week</small></p>
    </div>


</div>
<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" style="color:black">  </a>
    </li>
</ul> 
</dav> 
</div>
<div class="container">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" style="color:black">  </a>
  </li>
</ul> 
</dav>  

<div class="card-deck">

  <ul class="nav justify-content-center">
    <a class="navbar-brand" >
      <a class="nav-link" style="color:black"></a>
      <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
      <a class="nav-link" style="color:black"></a> 
      <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a>  
      <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a> 
      <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a>
      <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
      <a class="nav-link" style="color:black"></a>  
      <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a> 
      <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a>  
      <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a>
      <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a>  
      <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a>  
      <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a>  
      <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link"  style="color:black"></a>
      <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
      <a class="nav-link" style="color:black"></a> 
      <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link"  style="color:black"></a>  
      <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="nav-link" style="color:black"></a>  
       
      
      
      
    </a>
  </ul>
</div>
</div>
{% endblock %}