{% extends 'frontend/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="container">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" style="color:black">  </a>
      </li>
  </ul> 
  </dav> 
 
  <img src="static/image/ii.jpg" class="card-img-top" alt="...">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" style="color:black">  </a>
      </li>
  </ul> 
  </dav> 
  
  <div class="card-deck">
    <ul class="nav justify-content-center">
      <a class="navbar-brand" >
        <a class="nav-link" style="color:black"></a>
        <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
        <a class="nav-link" style="color:black"></a> 
        <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a> 
        <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>
        <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a> 
        <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>
        <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
        <img src="static/image/44.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link"  style="color:black"></a>
        <img src="static/image/1.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> 
        <a class="nav-link" style="color:black"></a> 
        <img src="static/image/22.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link"  style="color:black"></a>  
        <img src="static/image/33.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="nav-link" style="color:black"></a>  
  
      </a>
    </ul>
  </div>
  
    <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" style="color:black">_______________________________________________________________________________________________________________________________________________________________</a>
      </li>
  </ul> 
 </div>
  
<form class="needs-validation" novalidate style="margin-top:8%;">

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Chalermchai" required>
      <div class="valid-feedback">
        Look good!
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Supap" required>
      <div class="valid-feedback">
        Look good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Address</label>
      <input type="text" class="form-control" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid address.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Province</label>
      <select class="custom-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
    <option value="กระบี่">กระบี่ </option>
    <option value="กาญจนบุรี">กาญจนบุรี </option>
    <option value="กาฬสินธุ์">กาฬสินธุ์ </option>
    <option value="กำแพงเพชร">กำแพงเพชร </option>
    <option value="ขอนแก่น">ขอนแก่น</option>
    <option value="จันทบุรี">จันทบุรี</option>
    <option value="ฉะเชิงเทรา">ฉะเชิงเทรา </option>
    <option value="ชัยนาท">ชัยนาท </option>
    <option value="ชัยภูมิ">ชัยภูมิ </option>
    <option value="ชุมพร">ชุมพร </option>
    <option value="ชลบุรี">ชลบุรี </option>
    <option value="เชียงใหม่">เชียงใหม่ </option>
    <option value="เชียงราย">เชียงราย </option>
    <option value="ตรัง">ตรัง </option>
    <option value="ตราด">ตราด </option>
    <option value="ตาก">ตาก </option>
    <option value="นครนายก">นครนายก </option>
    <option value="นครปฐม">นครปฐม </option>
    <option value="นครพนม">นครพนม </option>
    <option value="นครราชสีมา">นครราชสีมา </option>
    <option value="นครศรีธรรมราช">นครศรีธรรมราช </option>
    <option value="นครสวรรค์">นครสวรรค์ </option>
    <option value="นราธิวาส">นราธิวาส </option>
    <option value="น่าน">น่าน </option>
    <option value="นนทบุรี">นนทบุรี </option>
    <option value="บึงกาฬ">บึงกาฬ</option>
    <option value="บุรีรัมย์">บุรีรัมย์</option>
    <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์ </option>
    <option value="ปทุมธานี">ปทุมธานี </option>
    <option value="ปราจีนบุรี">ปราจีนบุรี </option>
    <option value="ปัตตานี">ปัตตานี </option>
    <option value="พะเยา">พะเยา </option>
    <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา </option>
    <option value="พังงา">พังงา </option>
    <option value="พิจิตร">พิจิตร </option>
    <option value="พิษณุโลก">พิษณุโลก </option>
    <option value="เพชรบุรี">เพชรบุรี </option>
    <option value="เพชรบูรณ์">เพชรบูรณ์ </option>
    <option value="แพร่">แพร่ </option>
    <option value="พัทลุง">พัทลุง </option>
    <option value="ภูเก็ต">ภูเก็ต </option>
    <option value="มหาสารคาม">มหาสารคาม </option>
    <option value="มุกดาหาร">มุกดาหาร </option>
    <option value="แม่ฮ่องสอน">แม่ฮ่องสอน </option>
    <option value="ยโสธร">ยโสธร </option>
    <option value="ยะลา">ยะลา </option>
    <option value="ร้อยเอ็ด">ร้อยเอ็ด </option>
    <option value="ระนอง">ระนอง </option>
    <option value="ระยอง">ระยอง </option>
    <option value="ราชบุรี">ราชบุรี</option>
    <option value="ลพบุรี">ลพบุรี </option>
    <option value="ลำปาง">ลำปาง </option>
    <option value="ลำพูน">ลำพูน </option>
    <option value="เลย">เลย </option>
    <option value="ศรีสะเกษ">ศรีสะเกษ</option>
    <option value="สกลนคร">สกลนคร</option>
    <option value="สงขลา">สงขลา </option>
    <option value="สมุทรสาคร">สมุทรสาคร </option>
    <option value="สมุทรปราการ">สมุทรปราการ </option>
    <option value="สมุทรสงคราม">สมุทรสงคราม </option>
    <option value="สระแก้ว">สระแก้ว </option>
    <option value="สระบุรี">สระบุรี </option>
    <option value="สิงห์บุรี">สิงห์บุรี </option>
    <option value="สุโขทัย">สุโขทัย </option>
    <option value="สุพรรณบุรี">สุพรรณบุรี </option>
    <option value="สุราษฎร์ธานี">สุราษฎร์ธานี </option>
    <option value="สุรินทร์">สุรินทร์ </option>
    <option value="สตูล">สตูล </option>
    <option value="หนองคาย">หนองคาย </option>
    <option value="หนองบัวลำภู">หนองบัวลำภู </option>
    <option value="อำนาจเจริญ">อำนาจเจริญ </option>
    <option value="อุดรธานี">อุดรธานี </option>
    <option value="อุตรดิตถ์">อุตรดิตถ์ </option>
    <option value="อุทัยธานี">อุทัยธานี </option>
    <option value="อุบลราชธานี">อุบลราชธานี</option>
    <option value="อ่างทอง">อ่างทอง </option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom05">Post Code</label>
      <input type="text" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a valid post coge.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You have to agree this term and condition before submitting.
      </div>
    </div>
  </div>
  <div class="mb-3">
      <label for="validationTextarea">Comment</label>
      <textarea class="form-control" id="validationTextarea" placeholder="Required comment" required></textarea>
      <div class="valid-feedback">
          Thank you!
        </div>
      <div class="invalid-feedback">
        Please enter your comment for response our website.
      </div>
  </div>
  <button class="btn btn-primary bg-dark" type="submit">Submit</button>
</form>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<div class="container" >
<div class="card bg-dark text-white" style="margin-top:50px;">
    <div class="card-body">
      <div class="card-title" style="font-size:40">Contact Us</div>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
          <br>You can also find important information on my facebook and here for more info, and opening hours.
            <br>Tel. 096-969-0829</p>
    
    </div>
  </div>
</div>
{% endblock %}